.footer {
    @include flex-grid-row($width: 100%);
    @include flex-align($y: middle);

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
    z-index: 100;

    background: $body-background;

    transition: border-width 0.1s ease-in-out;
    border-top: $global-border-style;
    border-top-width: 0;
    &.border {
        border-top-width: $global-border-width;
    }

    & > aside {
        @include flex-grid-column();
    }

    &__right {
        text-align: right;
    }
}
