header {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    .logo {
        height: ms(3);
        margin-bottom: ms(1);
        margin-top: ms(1);
    }

    padding: ms(1);

    @include breakpoint(medium) {
        flex: 1 20%;

        position: fixed;
        left: 0;
        top: 0;
        width: 25%;
        height: 100%;

        padding: ms(2);

        .logo {
            height: ms(4);
            margin-top: 0;
        }

        .nav {
            padding-bottom: ms(3);
            flex-grow: 1;

            &__item {
                font-size: ms(2);
            }

            &__col {
                padding: 0;
            }
        }
    }

    @include breakpoint(large) {
        padding: ms(3);
    }

    @include breakpoint(xxlarge) {
        padding: ms(4);
    }
}
