header {
    @include flex-grid-row($width: 100%);
    @include flex-align($x: center, $y: top);

    @include breakpoint(medium) {
        justify-content: flex-start;
    }

    height: 1.2 * $header-height;
    @include breakpoint(medium) {
        height: $header-height;
    }

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;

    padding: ms(1)/2;
    padding-bottom: 0;
    @include breakpoint(medium) {
        padding: ms(1);
    }

    background: $body-background;

    font-weight: bold;

    // transition: border-width 0.1s ease-in-out;
    // border-bottom: $global-border-style;
    // border-bottom-width: 0;

    // &.border {
    //     border-bottom-width: $global-border-width;
    //     box-shadow: 0 2px 3px rgba(0,0,0,.5);
    // }

    .logo {
        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, 0);

        @include breakpoint(medium) {
            transform: translate(-50%, -50%);
        }

        & > svg {
            height: ms(1);
            width: 100%;
        }
    }

    .nav__col:first-child {
        padding-left: 0;
    }
}
