.home {
    flex-grow: 1;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .nav__item {
        font-size: ms(3);
        font-weight: bold;
    }
}
