.home {
    flex-grow: 1;
    padding-top: 0;

    .nav {
        margin: auto;
        padding-bottom: ms(2);
        justify-content: center;
        flex-direction: column;
    }

    .nav__item {
        font-size: ms(1);
        font-weight: bold;
    }

    .logo {
        width: 100%;
        height: ms(2);
        margin-bottom: ms(2);
        margin-top: ms(3);
    }

    @include breakpoint(medium) {

        padding-top: ms(3);

        .logo {
            height: ms(5);
            margin-top: ms(1);
        }

        .nav {
            flex-direction: row;
            padding-bottom: ms(6);
        }

        .nav__item {
            font-size: ms(2);
        }
    }
}
