.home {
    flex-grow: 1;
    // min-height: 100%;

    .nav {
        padding-bottom: ms(3);
        margin: auto;
        justify-content: center;
        flex-direction: column;
    }

    .nav__item {
        font-size: ms(2);
        font-weight: bold;
    }

    .logo {
        width: 100%;
        height: ms(3);
        margin-bottom: ms(2);
    }

    @include breakpoint(medium) {
        .logo {
            height: ms(5);
        }

        .nav {
            flex-direction: row;
        }

        .nav__item {
            font-size: ms(3);
        }
    }
}
