.nav {
    display: flex;
    font-weight: bold;
    justify-content: flex-start;
    flex-direction: column;

    margin: 0;
    padding-bottom: ms(2);

    color: $white;

    &__col {
        flex: 0 1 auto;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__item {
        font-size: ms(1);
        font-weight: bold;
        display: inline-block;
        justify-content: center;
        text-align: center;
    }
}
