.nav-arrow {
    align-self: stretch;
    width: 100%;
    height: ms(3);
    position: relative;

    @include breakpoint(large) {
        width: ms(3);
        height: auto;
    }


    &:hover {
        background: rgba(255,255,255,.1);
    }

    & > a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;
    }
}
