.nav {
    @include flex-grid-row;
    font-weight: bold;

    margin: 0;

    a {
        color: $body-font-color;
    }

    &__col {
        @include flex-grid-column();
        flex: 0 1 auto;
    }

    &__item {
        display: inline-block;
        justify-content: center;
        text-align: center;

        transform: perspective(100vh);
        transition: transform .2s ease-out, color .2s ease-out;

        &:hover {
            transform: perspective(100vh) translate3d(0, -1px, 10px);
            color: lighten($body-font-color, 20%);
        }

        &:active {
            transition: transform .1s ease-out;
            transform: perspective(100vh) translate3d(0, -1px, -5px);
        }
    }
}
