.social-logo {
    height: 1em;
}

ul.social-icons {
    @extend .no-bullet;
    @include flex-grid-row($behavior: collapse, $width: 100%);
    margin: 0;

    li {
        @include flex-grid-column($columns: shrink, $gutter: 0);
        padding: ms(1)/4;

        @include breakpoint(medium) {
            padding: ms(1)/2;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}
