<footer class="footer">
    <aside>
        <a href="{{root}}contact.html" class="baguette info-link">Info & Contact</a>
    </aside>
    <aside>
        <ul class="social-icons">
            <li>
                <a href="{{general.social.behance_url}}" target="_blank">
                    <img class="social-logo" alt="KYMO ONE on Behance" src="{{root}}assets/img/social-logo--behance.png"/>
                </a>
            </li>
            <li>
                <a href="{{general.social.facebook_url}}" target="_blank">
                    <img class="social-logo" alt="KYMO ONE on Facebook" src="{{root}}assets/img/social-logo--facebook.png"/>
                </a>
            </li>
            <li>
                <a href="{{general.social.instagram_url}}" target="_blank">
                    <img class="social-logo" alt="KYMO ONE on Instagram" src="{{root}}assets/img/social-logo--instagram.png"/>
                </a>
            </li>
        </ul>
    </aside>
</footer>

<script src="{{root}}assets/js/app.js"></script>
