<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#000000">

<link rel="icon" sizes="1024x1024" href="{{root}}assets/img/logo-square-1024.jpg">
<link rel="icon" sizes="196x196" href="{{root}}assets/img/logo-square-196.jpg">
<link rel="icon" sizes="32x32" href="{{root}}assets/img/logo-square-32.jpg">
<link rel="icon" sizes="16x16" href="{{root}}assets/img/logo-square-16.jpg">
<link rel="image_src" content="{{root}}assets/img/logo-square-1024.jpg">

<link rel="stylesheet" href="{{root}}assets/css/app.css">

<meta property="og:type" content="website">
<meta property="og:url" content="{{general.website_root}}">
<meta name="twitter:domain:url" content="{{general.website_root}}">
<meta property="og:site_name" content="KYMO ONE">

<meta name="author" content="Matthias Michiels">
<meta name="keywords" content="grafisch ontwerp, grafisch ontwerper, kymo, kymo one, matthias michiels, graffiti, luca, luca school of arts">
<meta property="og:locale" content="nl_BE">
<meta property="fb:app_id" content="1847488748868897">
<meta name="twitter:card" content="photo">
