<meta itemprop="image" content="https://graph.facebook.com/v2.8/691677397559662/picture?type=large">
<link itemprop="brand" content="{{root}}">

<div class="hero">
  <p>
    Producer of visuals.<br>
    Problem solving is a passion. <br>
    Aestethics keep me up at night. <br>
    Low on sleep, <br>
    but when it happens, I dream about gold things.
  </p>
  <p>
    Greetings<br>
    KO
  </p>
</div>

<div class="contact">
  <a href="mailto:kymo.one@outlook.com">Kymo.one@outlook.com</a><br>
  0474/30.17.32
</div>
