<div class="page--contact" itemscope itemtype="http://schema.org/Person">

    <meta itemprop="image" content="https://graph.facebook.com/v2.8/691677397559662/picture?type=large">
    <link itemprop="brand" content="{{root}}">

    <div class="row">
        <div class="medium-8 columns hero-image">
            <img class="" src="{{root}}assets/img/hero.jpg">
        </div>
    </div>

    <div class="row align-center">
        <div class="medium-8 large-6 columns">
            <h2>
                <span itemprop="givenName">{{general.personal.first_name}}</span>
                <span itemprop="familyName">{{general.personal.last_name}}</span>
            </h2>
            <p class="lead">
                {{general.description}}
            </p>
            <div class="row contact-card">
                <div class="medium-6 columns">
                    <p>
                        <a href="mailto:kymo.one@outlook.com" class="underline" itemprop="email">kymo.one@outlook.com</a><br>
                        <span itemprop="telephone">{{general.personal.telephone}}</span>
                    </p>
                </div>
                <div class="medium-6 columns">
                    <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="streetAddress">Straat 0</span><br>
                        <span itemprop="addressLocality">Zottegem</span><br>
                        <span itemprop="addressCountry">België</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</main>
