<nav class="nav">
    <a href="{{root}}grafisch.html" class="nav__col">
        <span class="nav__item type-on-hover">
            <span class="type-on-hover__fixed-text">GRA</span>
            <span class="type-on-hover__text">fisch</span>
            <span class="type-on-hover__ellipsis hidden">&hellip;</span>
        </span>
    </a>
    <a href="{{root}}graffiti.html" class="nav__col">
        <span class="nav__item type-on-hover">
            <span class="type-on-hover__fixed-text">GRA</span>
            <span class="type-on-hover__text">ffiti</span>
            <span class="type-on-hover__ellipsis hidden">&hellip;</span>
        </span>
    </a>
    <a href="{{root}}graag.html" class="nav__col">
        <span class="nav__item type-on-hover">
            <span class="type-on-hover__fixed-text">GRA</span>
            <span class="type-on-hover__text">ag</span>
            <span class="type-on-hover__ellipsis hidden">&hellip;</span>
        </span>
    </a>
</nav>
