<nav class="nav">
    <a href="portfolio.html" class="white nav__col">
        <span class="nav__item underline type-on-hover">
            GRA<span class="type-on-hover__text hidden">fisch</span>
        </span>
    </a>
    <a href="portfolio.html" class="white nav__col">
        <span class="nav__item underline type-on-hover">
            GRA<span class="type-on-hover__text hidden">ffiti</span>
        </span>
    </a>
    <a href="portfolio.html" class="white nav__col">
        <span class="nav__item underline type-on-hover">
            GRA<span class="type-on-hover__text hidden">ag</span>
        </span>
    </a>
</nav>
