<nav class="nav">
    <a href="portfolio.html" class="white nav__col">
        <span class="nav__item underline type-on-hover">
            <span class="type-on-hover__fixed-text">GRA</span>
            <span class="type-on-hover__text">fisch</span>
            <span class="type-on-hover__ellipsis">&hellip;</span>
        </span>
    </a>
    <a href="portfolio.html" class="white nav__col">
        <span class="nav__item underline type-on-hover">
            <span class="type-on-hover__fixed-text">GRA</span>
            <span class="type-on-hover__text">ffiti</span>
            <span class="type-on-hover__ellipsis">&hellip;</span>
        </span>
    </a>
    <a href="portfolio.html" class="white nav__col">
        <span class="nav__item underline type-on-hover">
            <span class="type-on-hover__fixed-text">GRA</span>
            <span class="type-on-hover__text">ag</span>
            <span class="type-on-hover__ellipsis">&hellip;</span>
        </span>
    </a>
</nav>
