<!doctype html>
<html class="no-js" lang="nl" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">
    <head>
        {{> head-common}}

        <title>{{project.name}} | KYMO ONE</title>
        <meta name="title" content="{{project.name}} - KYMO ONE">
        <meta property="og:title" content="{{project.name}}">
        <meta name="twitter:title" content="{{project.name}} - KYMO ONE">

        <meta name="author" content="Matthias Michiels">
        {{#if project.description}}
        <meta name="description" content="{{project.description}}">
        <meta property="og:description" content="{{project.description}}">
        {{else}}
        <meta name="description" content="{{project.name}}, een project van KYMO ONE">
        <meta property="og:description" content="{{project.name}}, een project van KYMO ONE">
        {{/if}}
        <meta name="keywords" content="grafisch ontwerp, grafisch ontwerper, kymo, kymo one, matthias michiels, graffiti, luca, luca school of arts">

        <!-- This image will appear when being shared on social media -->
        {{#if project.thumbnail}}
        <meta property="og:image" content="{{general.website_root}}assets/img/{{project.short_name}}/{{project.thumbnail}}">
        <meta name="twitter:image:src" content="{{general.website_root}}assets/img/{{project.short_name}}/{{project.thumbnail}}">
        {{else}}
        <meta property="og:image" content="{{general.website_root}}assets/img/sharing-image.jpg">
        <meta name="twitter:image:src" content="{{general.website_root}}assets/img/sharing-image.jpg">
        {{/if}}

    </head>
    <body class="page--{{page}}">
        {{> body-top}}
        {{> header}}

        <meta property="og:image" content="{{root}}../assets/img/{{project.short_name}}/{{project.thumbnail}}">
        <script type="text/javascript">
         var NEXT_PORTFOLIO_ITEM_URL = '{{root}}portfolio/{{project.next}}.html';
         var PREVIOUS_PORTFOLIO_ITEM_URL = '{{root}}portfolio/{{project.previous}}.html';
        </script>

        <main class="orbit portfolio-item portfolio-item__content" role="region" data-orbit
              data-prev-class="nav-arrow--previous"
              data-next-class="nav-arrow--next"
              data-use-m-u-i="true"
              id="carousel"
              data-accessible="true"
              aria-label="Photos for {{project.name}}"
              data-options="animation_speed: 5000;"
              itemscope itemtype="http://schema.org/VisualArtwork">

            <link rel="author" href="{{root}}contact.html" title="KYMO ONE">
            <link itemprop="author" href="{{root}}contact.html" itemtype="http://schema.org/Person">
            <meta itemprop="name" content="{{project.name}}">
            <aside class="nav-arrow nav-arrow--previous">
                <a href="#" class="nav-arrow__icon">
                    <span>&bull;</span>
                </a>
            </aside>
            <ul class="orbit-container portfolio-item__slider">
                {{#each project.photos}}
                <div class="orbit-slide portfolio-item__image"
                     style="background-image: url({{root}}../assets/img/{{../project.short_name}}/{{this}})">
                    <meta itemprop="image" content="{{root}}../assets/img/{{../project.short_name}}/{{this}}">
                </div>
                {{/each}}
            </ul>
            <aside class="nav-arrow nav-arrow--next">
                <a href="#" class="nav-arrow__icon">
                    <span>&bull;</span>
                </a>
            </aside>
        </main>
        {{> footer}}
    </body>
</html>
