{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="nl" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/profile#">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{root}}assets/css/app.css">


        {{#if title}}
        <title>{{title}} | KYMO ONE</title>
        <meta name="title" content="{{title}} - KYMO ONE">
        <meta property="og:title" content="{{title}} - KYMO ONE">
        <meta property="twitter:title" content="{{title}} - KYMO ONE">
        {{else}}
        <title>KYMO ONE - Matthias Michiels, grafisch ontwerper met een passie voor vormgeving en kunst</title>
        <meta name="title" content="KYMO ONE - Matthias Michiels, grafisch ontwerper met een passie voor vormgeving en kunst">
        <meta property="og:title" content="KYMO ONE - Matthias Michiels, grafisch ontwerper met een passie voor vormgeving en kunst">
        <meta property="twitter:title" content="KYMO ONE - Matthias Michiels, grafisch ontwerper met een passie voor vormgeving en kunst">
        {{/if}}
        <meta name="author" content="Matthias Michiels">
        <meta name="description" content="Matthias Michiels, grafisch ontwerper met een passie voor vormgeving en kunst.">
        <meta name="keywords" content="grafisch ontwerp, grafisch ontwerper, kymo, kymo one, matthias michiels, graffiti, luca, luca school of arts">
        <link rel="image_src" content="https://graph.facebook.com/v2.8/691677397559662/picture?type=large">


        <meta property="og:type" content="website">
        <meta property="og:url" content="http://kymoone.be">
        <meta property="twitter:domain:url" content="http://kymoone.be">
        <meta property="og:site_name" content="KYMO ONE">
        <!-- TODO Update this. Should be an absolute URL. -->
        <meta property="og:image" content="https://graph.facebook.com/v2.8/691677397559662/picture?type=large">
        <meta property="twitter:image:src" content="https://graph.facebook.com/v2.8/691677397559662/picture?type=large">
        <meta property="og:description" content="Grafisch ontwerper met een passie voor vormgeving en kunst.">
        <meta property="og:locale" content="nl_BE">
        <meta property="og:video" content="https://www.facebook.com/KYMOOONE/videos/1253387631388633/">
        <meta property="fb:app_id" content="691677397559662">
        <meta property="twitter:card" content="photo">

        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "url": "http://kymoone.be",
            "logo": "{{root}}assets/img/logo.svg",
            "contactPoint": [{
                "@type": "ContactPoint",
                "telephone": "+32 474 / 30 17 32",
                "email": "kymo.one@outlook.com"
            }],
            "founder": {
                "@type": "Person",
                "givenName": "Matthias",
                "familyName": "Michiels",
                "url": "{{root}}contact.html"
            }
        }
        </script>

    </head>
    <body class="page--{{page}}">

        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
        {{> body}}

        <footer class="footer">
            <aside class="footer__left">
                <ul class="social-icons">
                    <li>
                        <a href="https://www.behance.net/kymo" target="_blank">
                            <img class="social-logo" alt="KYMO ONE on Behance" src="{{root}}assets/img/social-logo--behance.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/KYMOOONE" target="_blank">
                            <img class="social-logo" alt="KYMO ONE on Facebook" src="{{root}}assets/img/social-logo--facebook.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/kymo_one" target="_blank">
                            <img class="social-logo" alt="KYMO ONE on Instagram" src="{{root}}assets/img/social-logo--instagram.png"/>
                        </a>
                    </li>
                </ul>
            </aside>
            <aside class="footer__right">
                <a href="{{root}}contact.html">Contact</a>
            </aside>
        </footer>

        <script src="{{root}}assets/js/app.js"></script>
    </body>
</html>
